@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:#222; border-color:#080808;">
    <a href="https://wm.rs" target="_blank">
        <img src="wirelessmedia250.gif" alt="Wireless Media Cover Photo" />
    </a>
</div>

<div class="row">
    <h2>About WM Products</h2>
    <p>
        WM Products is an ASP.NET MVC web application that provides us information about products listed in different databases.
    </p>
    <p>
        Get the list of products from either a JSON file or a SQL database.
    </p>
</div>